/*
   This file is meant to keep your settings after an upgrade of the multi source.
   If you know parameters you want for sure to be enabled or disabled in future
   then just force their values here.
   To enable  a setting use #define <setting name>
   To disable a setting use #undef  <setting name>
*/

// For example you can also define multiple module configurations, uncomment the one you want to compile for:
#define Module_1
//#define Module_2
//#define Module_3
//#define Module_4

//Example on how to force the "Flash from TX" feature for all modules
#define CHECK_FOR_BOOTLOADER

//Example on how to force the same ID for all modules: be carefull this is really if you want to be able to use one or another radio but not both!
//#define FORCE_GLOBAL_ID	0x12345678

#if defined Module_1
	//Example on how to remove unwanted protocols to fit in flash for Atmega 328 modules
	#undef	AFHDS2A_A7105_INO

	#undef	DEVO_CYRF6936_INO
	#undef	J6PRO_CYRF6936_INO
	#undef	WK2x01_CYRF6936_INO

	#undef	FRSKYV_CC2500_INO
	#undef	FRSKYX_CC2500_INO

	#undef	KN_NRF24L01_INO
	#undef	SLT_NRF24L01_INO

	#undef	FY326_NRF24L01_INO
	#undef	FQ777_NRF24L01_INO
	#undef	ASSAN_NRF24L01_INO
	#undef	HONTAI_NRF24L01_INO
	#undef	Q303_NRF24L01_INO
	#undef	GW008_NRF24L01_INO
	#undef	DM002_NRF24L01_INO
	#undef	CABELL_NRF24L01_INO
	#undef	ESKY150_NRF24L01_INO
	#undef	H8_3D_NRF24L01_INO

#elif defined Module_2
	//Example of a module which doesn't need the telemetry signal to be inverted
	#undef INVERT_TELEMETRY
	
#elif defined Module_3
	//Example of a module which will be used with OpenTX
	#undef MULTI_STATUS
	#define MULTI_TELEMETRY
	
#elif defined Module_4
	//Example of a module which will be PPM only with a different protocol table
	#undef ENABLE_SERIAL
	#undef NBR_BANKS
	#define NBR_BANKS 1		// redefine the number of banks
	#define MY_PPM_PROT		// Use the bellow protocol list
	const PPM_Parameters My_PPM_prot[14*NBR_BANKS]={
//******************************       BANK 1       ******************************
//	Switch	Protocol 		Sub protocol	RX_Num	Power		Auto Bind		Option
/*	1	*/	{PROTO_KN	,	WLTOYS		,	0	,	P_HIGH	,	NO_AUTOBIND	,	0		},
/*	2	*/	{PROTO_FLYSKY,	Flysky		,	0	,	P_HIGH	,	AUTOBIND	,	0		},
/*	3	*/	{PROTO_AFHDS2A,	PWM_IBUS	,	1	,	P_HIGH	,	NO_AUTOBIND	,	0		},	// RX number 1
/*	4	*/	{PROTO_AFHDS2A,	PWM_IBUS	,	2	,	P_HIGH	,	NO_AUTOBIND	,	0		},	// RX number 2
/*	5	*/	{PROTO_AFHDS2A,	PWM_IBUS	,	3	,	P_HIGH	,	NO_AUTOBIND	,	0		},	// RX number 3
/*	6	*/	{PROTO_AFHDS2A,	PWM_IBUS	,	2	,	P_HIGH	,	NO_AUTOBIND	,	0		},	// RX number 4
/*	7	*/	{PROTO_AFHDS2A,	PWM_IBUS	,	3	,	P_HIGH	,	NO_AUTOBIND	,	0		},	// RX number 5
/*	8	*/	{PROTO_SFHSS,	H107		,	0	,	P_HIGH	,	NO_AUTOBIND	,	0		},
/*	9	*/	{PROTO_FRSKYV,	NONE		,	0	,	P_HIGH	,	NO_AUTOBIND	,	40		},	// option=fine freq tuning
/*	10	*/	{PROTO_FRSKYD,	NONE		,	0	,	P_HIGH	,	NO_AUTOBIND	,	40		},	// option=fine freq tuning
/*	11	*/	{PROTO_FRSKYX,	CH_16		,	0	,	P_HIGH	,	NO_AUTOBIND	,	40		},	// option=fine freq tuning
/*	12	*/	{PROTO_FRSKYX,	EU_16		,	0	,	P_HIGH	,	NO_AUTOBIND	,	40		},	// option=fine freq tuning
/*	13	*/	{PROTO_DEVO	,	NONE		,	0	,	P_HIGH	,	NO_AUTOBIND	,	0		},
/*	14	*/	{PROTO_WK2x01,	WK2801		,	0	,	P_HIGH	,	NO_AUTOBIND	,	0		},
	};
#endif
